@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem;
}

body {
  background-color: black;
  // background: linear-gradient(335deg, #c7633f, #f4d464);
}
.main {
  max-width: 500px;
  max-height: 70rem;
  margin: auto;
  height: 100vh;
  background: white;
  overflow: hidden;
  border-radius: 5px;
}
.logo {
  height: 9rem;
  margin-bottom: 1rem;
}
.login,
.register {
  display: flex;
  height: inherit;
  max-height: 70rem;
  justify-content: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  div {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      background: #e9eef3;
      padding: 1rem;
      font-size: 1rem;
      width: 45vw;
      margin-bottom: 0.05rem;
      outline: none;
      min-width: 15rem;
      max-width: 450px;
    }
    input:focus {
      border: #000000 solid 0.2rem;
    }

    p {
      margin-top: 1rem;
    }
    button {
      padding: 10px;
      background: lightgrey;
      margin-top: 2rem;
      border-radius: 0.5rem;
      font-family: "Patua One", cursive;
      color: black;
      font-size: 0.8rem;
    }
    textarea {
      background: #e9eef3;
      width: 45vw;
      height: 10rem;
      padding: 1rem;
      font-size: 1rem;
      min-width: 15rem;
      max-width: 450px;
    }
  }
}

.app {
  max-width: 500px;
  max-height: 70rem;
  margin: auto;
  height: 100vh;
  display: grid;
  background: white;
  align-content: space-between;
  grid-template: 1fr auto / 1fr;
  overflow: hidden;
  header {
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid#f2f2f2;
    h1 {
      font-weight: 100;
      font-family: "Patua one";
      font-size: 1.5rem;
    }
  }
  > div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 3rem auto;
    overflow: hidden;
  }
  .profile {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        height: 7rem;
        width: 7em;
        border-radius: 50%;
        border: 1px solid black;
      }
      .fullname {
        margin-top: 1rem;
        font-weight: 100;
        font-family: "Patua one", sans-serif;
        font-size: 2rem;
        text-transform: capitalize;
      }
      .contact {
        font-family: "Patua one", sans-serif;
      }
      .address {
        margin-top: 1.5rem;
        width: 30ch;
        text-align: center;
      }
      button {
        color: white;
        padding: 10px;
        font-family: "Patua one";
        background: #6a6a71;
        border-radius: 0.5rem;
        margin-top: 1rem;
      }
    }
  }
  .shop {
    main {
      overflow-y: scroll; 
    }
    .wallpaper {
      min-height: 150px;
      max-height: 35vh;
      height: fit-content;
      width: 100%;
      object-fit: cover;
    }
    .shop-info {
      display: grid;
      padding: 1rem;
      grid-template:
        "followers ratings"
        "description description"
        "links links";
      .followers-amount {
        grid-area: followers;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .star-rating {
        grid-area: ratings;
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        font-size: 2rem;
      }
      .shop-description {
        grid-area: description;
        line-height: 1.5rem;
      }
      .nav {
        grid-area: links;
        display: flex;
        flex-direction: row;
        color: rgb(0, 145, 255);
        justify-content: flex-end;
        a {
          color: rgb(0, 145, 255);
        }
        a:hover {
          color: orange;
        }
      }
    }
    .gallery {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      background-color: #e6e6e6;
      list-style-type: none;
      li {
        height: 20vh;
        flex-grow: 1;
        padding: 0.1rem;
      }

      img {
        max-height: 100%;
        min-width: 100%;
        object-fit: contain;
        vertical-align: bottom;
        border: 5px solid white;
        border-radius: 0.5rem;
      }
      li:last-child {
        flex-grow: 10;
      }
    }
  }
  .orders {
    .order-list {
      display: flex;
      overflow-y: scroll;
      flex-direction: column;
      .order {
        display: grid;
        .shop-info {
          display: grid;
          padding: 0.8rem;
          border-top: 2px solid#f2f2f2;
          border-bottom: 2px solid rgb(216, 216, 216);
          grid-template-columns: auto 1fr;
          grid-template-areas:
            "img name"
            "img contact";
          img {
            grid-area: img;
            border-radius: 50%;
            height: 2rem;
            margin-right: 0.5rem;
          }
          .name {
            grid-area: name;
            font-size: 0.8rem;
          }
          .contact {
            font-size: 0.8rem;
            grid-area: contact;
          }
        }
        .items {
          display: flex;
          flex-direction: column;
          padding-top: 1rem;
          .item {
            align-items: center;
            padding: 0.5rem;
            display: grid;
            color: rgb(86, 86, 86);
            grid-template-columns: auto 1fr 1fr;
            grid-template-areas:
              "img name name"
              "img pq amount";
            img {
              object-fit: cover;
              border-radius: 3px;
              width: 4rem;
              height: 3rem;
              grid-area: img;
              margin-left: 1rem;
              margin-right: 1rem;
            }
            .name {
              grid-area: name;
            }
            .pq {
              grid-area: pq;
              font-size: 0.8rem;
            }
            .amount {
              grid-area: amount;
              text-align: right;
            }
          }
        }
        .total-amount {
          padding: 0.5rem;
          text-align: right;
        }
      }
    }
  }
  .navBar {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #dbe1e3;
    svg {
      transform: scale(1.3);
    }
  }
}
